/* Fonts */
/* Liste: 
    Montserrat: https://fonts.google.com/specimen/Montserrat
    Poppins: https://fonts.google.com/specimen/Poppins
    Bebas Neue: https://fonts.google.com/specimen/Bebas+Neue
    Lobster: https://fonts.google.com/specimen/Lobster
    Syncopate: https://fonts.google.com/specimen/Syncopate
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');



/* Root & Universel */
:root {
    --mainDark: #181818;
    --mainDarker: #111111;
    --mainColor: #8b59ff;
    --mainShadow: #111320;
    --mainShadowLighter: #171929;
    --secondaryColor: #8695F0;
    --mainBright: #FEFEFE;
}
* { 
    cursor: none !important;
}


/* Html & Body */
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/* Classes */
.main { 
    background-color: var(--mainShadow) !important; 
    background-image: radial-gradient(var(--mainShadowLighter) 5px, transparent 5px);
    box-shadow: 0 0 200px rgba(0,0,0,0.5) inset;
    background-size: 55px 55px;
}
.portfolio { background-color: var(--mainBright) !important; }


/* Élements html de base */
a, a:visited, a:hover {
    text-decoration: none;
    color: var(--mainColor);
}

button {
    margin-top: 25px;
    padding: 20px 55px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: transform .8s ease, box-shadow 1.2s ease;
}
button.dark {
    color: white;
    background-color: black;
}
button:hover {
    transform: scale(108%);
    box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.5);
}

canvas {
    position: absolute;
    z-index: -1;
    animation: fadein 2.5s ease;
    user-select: none;
}


/* Animations */
@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes comein {
    from { transform: translateY(150px); }
    to { transform: translateX(0); }
}