/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Root & body */
:root {
    --mainDark: #181818;
    --mainDarker: #111111;
    --mainColor: #8b59ff;
    --mainShadow: #120E16;
    --mainShadowLighter: #1c1621;
    --secondaryColor: #8695F0;
    --mainBright: #FEFEFE;
}
html {scroll-behavior: smooth;}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}
body.dark { 
    background-color: var(--mainShadow); 
    background-image: radial-gradient(var(--mainShadowLighter) 5px, transparent 5px);
    background-size: 55px 55px;
}
body.light { background-color: var(--mainBright); }

/* H1 */
h1 {
    color: white;
    font-size: 10vw;
    font-family: "Montserrat", sans-serif;
    text-shadow: var(--mainShadow) 0px 0 50px;
    margin: 0;
    user-select: none;
    animation: fadein 2.5s ease, comein 2.5s ease;
}

h2 {
    color: white;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    text-shadow: var(--mainShadow) 0px 0 50px;
    margin: 0; 
    user-select: none;
    animation: fadein 2.5s ease, comein 2.5s ease;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: var(--mainColor);
}


/* Canvas */
canvas {
    position: absolute;
    z-index: -1;
    animation: fadein 2.5s ease;
    user-select: none;
}


/* Buttons */
button {
    margin-top: 25px;
    padding: 20px 55px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: transform .8s ease, box-shadow 1.2s ease;
    animation: fadein 2.5s ease, comein 2.5s ease;
}
button:hover {
    transform: scale(103%);
    box-shadow: 0px 0px 27px -5px rgba(0,0,0,0.5);
}


/* Pages Transition */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.loader.side { animation: loaderSide 1s ease; }
.loader.top { animation: loaderTop 1s ease; }


/* Custom Mice trailer */
body:hover > #trailer { opacity: 1; }
#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    mix-blend-mode: difference;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease;
}


/* Animations */
@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes comein {
    from { transform: translateY(150px); }
    to { transform: translateX(0); }
}

@keyframes loaderSide {
    from { width: 0; }
    to { width: 100vw; }
}
@keyframes loaderTop {
    from { height: 0; }
    to { height: 100vh; }
}