/* H1 */
h1 {
    color: white;
    font-size: 10vw;
    font-family: 'Bebas Neue', cursive;
    text-shadow: var(--mainShadow) 0px 0 50px;
    margin: 0;
    user-select: none;
    animation: fadein 2.5s ease, comein 2.5s ease;
}

h2 {
    color: white;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    text-shadow: var(--mainShadow) 0px 0 50px;
    margin: 0; 
    user-select: none;
    animation: fadein 2.5s ease, comein 2.5s ease;
}

/* Button */
button {
    animation: fadein 2.5s ease, comein 2.5s ease;
}