/**
    Ce fichier CSS contient le style pour le portfolio (portfolio.html).
**/
/* HTML */
body {
    -webkit-animation: fadein .5s ease, comein .5s ease;
            animation: fadein .5s ease, comein .5s ease;
    overflow: hidden;
}

main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    -ms-scroll-snap-points-y: repeat(100vh);
        scroll-snap-points-y: repeat(100vh);
    scroll-behavior: smooth;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

section {
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

section article { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-flex: 1; 
        -ms-flex: 1; 
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Poppins", sans-serif;
    padding: 4vh 3vw;
}

section article .sectionTitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    font-weight: bold;
    margin: 0;
}

section article .sectionDescription {
    margin: 0;
    font-size: 1.5vw;
    padding: 0;
}


/* Styles propres aux sections */
section#whoami::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(../../img/bretagne.png);
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 630px;
    -webkit-animation: fadein 1.5s ease, comein 1.5s ease;
            animation: fadein 1.5s ease, comein 1.5s ease;
}

section#whoami article.left {
    -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
            box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    background-image: url(../img/avatar.png);
    background-size: cover;
    background-position-y: center;
}


/* Bouton du retour d'accueil */
#goHome {
    z-index: 10;
    font-size: 30px;
    position: fixed;
    top: 20px;
    left: 50px;
    border-radius: 60%;
    width: 70px;
    height: 70px;
    padding: 0;
}


/* Responsive */
@media screen and (max-width: 800px) {
    #goHome {
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(90deg);
            -ms-transform: translateX(-50%) rotate(90deg);
                transform: translateX(-50%) rotate(90deg);
    }

    section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    section article {
        overflow-y: scroll;
    }

    section article .sectionTitle {
        font-size: 22vw;
        text-align: center;
    }

    section article .sectionDescription {
        font-size: 25px;
        max-width: 100%;
        margin-top: 2vh;
        margin-bottom: 5vh;
        padding: 0 10px;
    }

    section::before {
        display: none;
    }
}